<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohana - Edit Character</title>
    <!-- Ruta corregida saliendo de la carpeta con ../ -->
    <link rel="stylesheet" href="../styles.css">
</head>

<body>

    <div class="phone-container characters-edit-page" style="display: flex;">

        <div class="header-blue-title">
            EDIT CHARACTER <img src="../img/stich_edit.png" class="header-stitch-avatar">
        </div>

        <div class="char-back-navigation">
            <a href="../characters.html"><img src="../img/regre.png" alt="Back"></a>
        </div>

        <div class="char-upload-box-section">
            <div class="char-image-dropzone modification-mode">
                <img src="../img/stich_c.png" class="dropzone-preloaded-image">
                <div class="dropzone-edit-overlay">+</div>
            </div>
        </div>

        <div class="char-form-fields labels-enabled">
            <label class="form-field-descriptor">Name :</label>
            <input type="text" value="Stitch" class="char-input-field">

            <label class="form-field-descriptor">Kind :</label>
            <select class="char-select-field">
                <option>Humans</option>
                <option>Alien</option>
                <option selected>Experiment</option>
                <option>Villain</option>
            </select>

            <textarea class="char-textarea-field">Genetic experiment created by Dr. Jumba</textarea>
        </div>

        <div class="char-action-buttons">
            <a href="../characters.html" class="btn-char-submit"
                style="text-decoration: none; text-align: center;">Save</a>
            <a href="../characters.html" class="btn-char-dismiss"
                style="text-decoration: none; text-align: center;">Cancel</a>
        </div>

        <!-- Menú Inferior Fijo (Rutas apuntando afuera con ../) -->
        <div class="bottom-navbar">
            <a href="../dashboard.html" class="nav-item">
                <img src="../img/das.png" alt="Dashboard">
            </a>
            <a href="../profile.html" class="nav-item">
                <img src="../img/profile.png" alt="Profile">
            </a>
            <a href="../characters.html" class="nav-item active">
                <img src="../img/characters.png" alt="Characters">
            </a>
            <a href="../kinds.html" class="nav-item">
                <img src="../img/kind.png" alt="Kinds">
            </a>
        </div>
    </div>

</body>

</html>