<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohana - Characters</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="phone-container characters-list-page" style="display: flex;">

        <div class="header-blue-title">
            CHARACTERS <img src="img/logo_chara.png" class="header-stitch-avatar">
        </div>

        <div class="characters-top-actions">
            <a href="crud-characters/add.html" id="btn-go-add" class="btn-add-char"
                style="text-decoration: none; text-align: center; line-height: normal;">+</a>
        </div>

        <div class="characters-search-bar">
            <input type="text" placeholder="Search ...">
        </div>

        <div class="characters-main-grid">
            <div class="character-card-item">
                <div class="char-thumb-wrapper">
                    <img src="img/lilo.png" alt="Lilo">
                    <div class="char-floating-crud">
                        <a href="crud-characters/show.html" class="btn-crud-action" style="text-decoration: none;">
                            <img src="img/view.png" alt="View" class="crud-icon">
                        </a>
                        <a href="crud-characters/edit.html" class="btn-crud-action" style="text-decoration: none;">
                            <img src="img/edit.png" alt="Edit" class="crud-icon">
                        </a>
                        <button class="btn-crud-action">
                            <img src="img/delete.png" alt="Delete" class="crud-icon">
                        </button>
                    </div>
                </div>
                <p class="character-item-name">Lilo</p>
            </div>

            <div class="character-card-item">
                <div class="char-thumb-wrapper">
                    <img src="img/nani.png" alt="Nani">
                    <div class="char-floating-crud">
                        <a href="crud-characters/show.html" class="btn-crud-action" style="text-decoration: none;">
                            <img src="img/view.png" alt="View" class="crud-icon">
                        </a>
                        <a href="crud-characters/edit.html" class="btn-crud-action" style="text-decoration: none;">
                            <img src="img/edit.png" alt="Edit" class="crud-icon">
                        </a>
                        <button class="btn-crud-action">
                            <img src="img/delete.png" alt="Delete" class="crud-icon">
                        </button>
                    </div>
                </div>
                <p class="character-item-name">Nani</p>
            </div>

            <div class="character-card-item">
                <div class="char-thumb-wrapper">
                    <img src="img/stich_c.png" alt="Stitch">
                    <div class="char-floating-crud">
                        <a href="crud-characters/show.html" class="btn-crud-action" style="text-decoration: none;">
                            <img src="img/view.png" alt="View" class="crud-icon">
                        </a>
                        <a href="crud-characters/edit.html" class="btn-crud-action" style="text-decoration: none;">
                            <img src="img/edit.png" alt="Edit" class="crud-icon">
                        </a>
                        <button class="btn-crud-action">
                            <img src="img/delete.png" alt="Delete" class="crud-icon">
                        </button>
                    </div>
                </div>
                <p class="character-item-name">Stitch</p>
            </div>

            <div class="character-card-item">
                <div class="char-thumb-wrapper">
                    <img src="img/pleakley.png" alt="Pleakley">
                    <div class="char-floating-crud">
                        <a href="crud-characters/show.html" class="btn-crud-action" style="text-decoration: none;">
                            <img src="img/view.png" alt="View" class="crud-icon">
                        </a>
                        <a href="crud-characters/edit.html" class="btn-crud-action" style="text-decoration: none;">
                            <img src="img/edit.png" alt="Edit" class="crud-icon">
                        </a>
                        <button class="btn-crud-action">
                            <img src="img/delete.png" alt="Delete" class="crud-icon">
                        </button>
                    </div>
                </div>
                <p class="character-item-name">Pleakley</p>
            </div>
        </div>

        <div class="bottom-navbar">
            <a href="dashboard.html" class="nav-item">
                <img src="img/das.png" alt="Dashboard">
            </a>
            <a href="profile.html" class="nav-item">
                <img src="img/profile.png" alt="Profile">
            </a>
            <a href="characters.html" class="nav-item active">
                <img src="img/characters.png" alt="Characters">
            </a>
            <a href="kinds.html" class="nav-item">
                <img src="img/kind.png" alt="Kinds">
            </a>
        </div>
    </div>

</body>

</html>