<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohana App - Register</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Quintessential&family=Fredoka+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>


    <div class="phone-container login-page register-page">


        <a href="index.html" class="back-arrow">
            <img src="img/regreso.png" alt="Regresar">
        </a>

        <!-- Logo superior Ohana -->
        <div class="welcome-logo-section">
            <img src="img/logo.png" alt="Ohana Logo" class="logo-img">
        </div>

        <!-- Tarjeta de Registro -->
        <div class="login-card register-card">
            <h2 class="login-card-title">SING UP</h2>

            <form action="#" method="POST" class="login-form">

                <!-- Campo: First Name -->
                <div class="input-group register-group">
                    <img src="img/user_regi.png" alt="User Icon" class="register-input-icon">
                    <input type="text" placeholder="First Name" required>
                </div>

                <!-- Campo: Last Name -->
                <div class="input-group register-group">
                    <img src="img/user_regi.png" alt="User Icon" class="register-input-icon">
                    <input type="text" placeholder="Last Name" required>
                </div>

                <!-- Campo: Email -->
                <div class="input-group register-group">
                    <img src="img/email.png" alt="Email Icon" class="register-input-icon">
                    <!-- Aquí puedes cambiar por un icono de correo si tienes -->
                    <input type="email" placeholder="Email" required>
                </div>

                <!-- Campo: Password -->
                <div class="input-group register-group">
                    <img src="img/pass_regis.png" alt="Lock Icon" class="register-input-icon">
                    <input type="password" placeholder="Password" required>
                </div>

                <!-- Campo: Confirm Password -->
                <div class="input-group register-group">
                    <img src="img/pass_regis.png" alt="Lock Icon" class="register-input-icon">
                    <input type="password" placeholder="Confirm Password" required>
                </div>

                <div class="welcome-actions-section">
                    <a href="dashboard.html" class="btn-welcome register">Register</a>
                </div>
            </form>
        </div>

        <!-- Stitch abajo flotando en la esquina izquierda -->
        <div class="login-image-section">
            <img src="img/stich.png" alt="Stitch Sitting" class="stitch-login-img">
        </div>

    </div>

</body>

</html>